<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Ascend</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>database.properties</param-name>
        <param-value>database.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.example.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberPortal</servlet-name>
        <servlet-class>org.example.MemberPortal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberPortal</servlet-name>
        <url-pattern>/MemberPortal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.example.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlightReservation</servlet-name>
        <servlet-class>org.example.FlightReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightReservation</servlet-name>
        <url-pattern>/FlightReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlyingLessonReservation</servlet-name>
        <servlet-class>org.example.FlyingLessonReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlyingLessonReservation</servlet-name>
        <url-pattern>/FlyingLessonReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewMyReservations</servlet-name>
        <servlet-class>org.example.ViewMyReservations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMyReservations</servlet-name>
        <url-pattern>/ViewMyReservations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMyInfo</servlet-name>
        <servlet-class>org.example.EditMyInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMyInfo</servlet-name>
        <url-pattern>/EditMyInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationSubmit</servlet-name>
        <servlet-class>org.example.ReservationSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationSubmit</servlet-name>
        <url-pattern>/ReservationSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationsManagement</servlet-name>
        <servlet-class>org.example.ReservationsManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationsManagement</servlet-name>
        <url-pattern>/ReservationsManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationsManagementSubmit</servlet-name>
        <servlet-class>org.example.ReservationsManagementSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationsManagementSubmit</servlet-name>
        <url-pattern>/ReservationsManagementSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationsManagementPending</servlet-name>
        <servlet-class>org.example.ReservationsManagementPending</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationsManagementPending</servlet-name>
        <url-pattern>/ReservationsManagementPending</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReservationsManagementPendingSubmit</servlet-name>
        <servlet-class>org.example.ReservationsManagementPendingSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationsManagementPendingSubmit</servlet-name>
        <url-pattern>/ReservationsManagementPendingSubmit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MaintenanceManagement</servlet-name>
        <servlet-class>org.example.MaintenanceManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceManagement</servlet-name>
        <url-pattern>/MaintenanceManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MaintenanceManagementSubmit</servlet-name>
        <servlet-class>org.example.MaintenanceManagementSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceManagementSubmit</servlet-name>
        <url-pattern>/MaintenanceManagementSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MaintenanceAdd</servlet-name>
        <servlet-class>org.example.MaintenanceAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceAdd</servlet-name>
        <url-pattern>/MaintenanceAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MaintenanceUpdate</servlet-name>
        <servlet-class>org.example.MaintenanceUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaintenanceUpdate</servlet-name>
        <url-pattern>/MaintenanceUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftManagement</servlet-name>
        <servlet-class>org.example.AircraftManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftManagement</servlet-name>
        <url-pattern>/AircraftManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftManagementSubmit</servlet-name>
        <servlet-class>org.example.AircraftManagementSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftManagementSubmit</servlet-name>
        <url-pattern>/AircraftManagementSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftAdd</servlet-name>
        <servlet-class>org.example.AircraftAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftAdd</servlet-name>
        <url-pattern>/AircraftAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftUpdate</servlet-name>
        <servlet-class>org.example.AircraftUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftUpdate</servlet-name>
        <url-pattern>/AircraftUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportManagement</servlet-name>
        <servlet-class>org.example.AirportManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportManagement</servlet-name>
        <url-pattern>/AirportManagement</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportManagementSubmit</servlet-name>
        <servlet-class>org.example.AirportManagementSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportManagementSubmit</servlet-name>
        <url-pattern>/AirportManagementSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportAdd</servlet-name>
        <servlet-class>org.example.AirportAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportAdd</servlet-name>
        <url-pattern>/AirportAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportUpdate</servlet-name>
        <servlet-class>org.example.AirportUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportUpdate</servlet-name>
        <url-pattern>/AirportUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>org.example.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupOne</servlet-name>
        <servlet-class>org.example.SignupOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupOne</servlet-name>
        <url-pattern>/SignupOne</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupTwo</servlet-name>
        <servlet-class>org.example.SignupTwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupTwo</servlet-name>
        <url-pattern>/SignupTwo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>org.example.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminPortal</servlet-name>
        <servlet-class>org.example.AdminPortal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPortal</servlet-name>
        <url-pattern>/AdminPortal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMember</servlet-name>
        <servlet-class>org.example.AdminManagementMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMember</servlet-name>
        <url-pattern>/AdminManagementMember</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMemberProcess</servlet-name>
        <servlet-class>org.example.AdminManagementMemberProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMemberProcess</servlet-name>
        <url-pattern>/AdminManagementMemberProcess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMemberSubmit</servlet-name>
        <servlet-class>org.example.AdminManagementMemberSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMemberSubmit</servlet-name>
        <url-pattern>/AdminManagementMemberSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementReservation</servlet-name>
        <servlet-class>org.example.AdminManagementReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementReservation</servlet-name>
        <url-pattern>/AdminManagementReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMaintenance</servlet-name>
        <servlet-class>org.example.AdminManagementMaintenance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMaintenance</servlet-name>
        <url-pattern>/AdminManagementMaintenance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementAircraft</servlet-name>
        <servlet-class>org.example.AdminManagementAircraft</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementAircraft</servlet-name>
        <url-pattern>/AdminManagementAircraft</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementAirport</servlet-name>
        <servlet-class>org.example.AdminManagementAirport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementAirport</servlet-name>
        <url-pattern>/AdminManagementAirport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>org.example.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
</web-app>
