<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Ascend</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>database.properties</param-name>
        <param-value>database.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.example.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.example.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.example.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Reservation</servlet-name>
        <servlet-class>org.example.Reservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reservation</servlet-name>
        <url-pattern>/Reservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMemInfo</servlet-name>
        <servlet-class>org.example.EditMemInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMemInfo</servlet-name>
        <url-pattern>/EditMemInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>org.example.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupOne</servlet-name>
        <servlet-class>org.example.SignupOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupOne</servlet-name>
        <url-pattern>/SignupOne</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupTwo</servlet-name>
        <servlet-class>org.example.SignupTwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupTwo</servlet-name>
        <url-pattern>/SignupTwo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupThree</servlet-name>
        <servlet-class>org.example.SignupThree</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupThree</servlet-name>
        <url-pattern>/SignupThree</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>org.example.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminPortal</servlet-name>
        <servlet-class>org.example.AdminPortal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPortal</servlet-name>
        <url-pattern>/AdminPortal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminEditMemberInfo</servlet-name>
        <servlet-class>org.example.AdminEditMemberInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEditMemberInfo</servlet-name>
        <url-pattern>/AdminEditMemberInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminSetReservation</servlet-name>
        <servlet-class>org.example.AdminSetReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSetReservation</servlet-name>
        <url-pattern>/AdminSetReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminSetMaintenance</servlet-name>
        <servlet-class>org.example.AdminSetMaintenance</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSetMaintenance</servlet-name>
        <url-pattern>/AdminSetMaintenance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>org.example.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
</web-app>
