<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Ascend</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>database.properties</param-name>
        <param-value>database.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.example.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MemberPortal</servlet-name>
        <servlet-class>org.example.MemberPortal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MemberPortal</servlet-name>
        <url-pattern>/MemberPortal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>org.example.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlightReservation</servlet-name>
        <servlet-class>org.example.FlightReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightReservation</servlet-name>
        <url-pattern>/FlightReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlyingLessonReservation</servlet-name>
        <servlet-class>org.example.FlyingLessonReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlyingLessonReservation</servlet-name>
        <url-pattern>/FlyingLessonReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewMyReservations</servlet-name>
        <servlet-class>org.example.ViewMyReservations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewMyReservations</servlet-name>
        <url-pattern>/ViewMyReservations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMyInfo</servlet-name>
        <servlet-class>org.example.EditMyInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMyInfo</servlet-name>
        <url-pattern>/EditMyInfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMyInfoSubmit</servlet-name>
        <servlet-class>org.example.EditMyInfoSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMyInfoSubmit</servlet-name>
        <url-pattern>/EditMyInfoSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlyingLessonReservationSubmit</servlet-name>
        <servlet-class>org.example.FlyingLessonReservationSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlyingLessonReservationSubmit</servlet-name>
        <url-pattern>/FlyingLessonReservationSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FlightReservationSubmit</servlet-name>
        <servlet-class>org.example.FlightReservationSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightReservationSubmit</servlet-name>
        <url-pattern>/FlightReservationSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementReservations</servlet-name>
        <servlet-class>org.example.AdminManagementReservations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementReservations</servlet-name>
        <url-pattern>/AdminManagementReservations</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementReservationsProcess</servlet-name>
        <servlet-class>org.example.AdminManagementReservationsProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementReservationsProcess</servlet-name>
        <url-pattern>/AdminManagementReservationsProcess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementReservationsProcessSubmit</servlet-name>
        <servlet-class>org.example.AdminManagementReservationsProcessSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementReservationsProcessSubmit</servlet-name>
        <url-pattern>/AdminManagementReservationsProcessSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftAdd</servlet-name>
        <servlet-class>org.example.AircraftAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftAdd</servlet-name>
        <url-pattern>/AircraftAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftAddSubmit</servlet-name>
        <servlet-class>org.example.AircraftAddSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftAddSubmit</servlet-name>
        <url-pattern>/AircraftAddSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftUpdate</servlet-name>
        <servlet-class>org.example.AircraftUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftUpdate</servlet-name>
        <url-pattern>/AircraftUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AircraftUpdateSubmit</servlet-name>
        <servlet-class>org.example.AircraftUpdateSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AircraftUpdateSubmit</servlet-name>
        <url-pattern>/AircraftUpdateSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportAdd</servlet-name>
        <servlet-class>org.example.AirportAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportAdd</servlet-name>
        <url-pattern>/AirportAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportAddSubmit</servlet-name>
        <servlet-class>org.example.AirportAddSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportAddSubmit</servlet-name>
        <url-pattern>/AirportAddSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportUpdate</servlet-name>
        <servlet-class>org.example.AirportUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportUpdate</servlet-name>
        <url-pattern>/AirportUpdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AirportUpdateSubmit</servlet-name>
        <servlet-class>org.example.AirportUpdateSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AirportUpdateSubmit</servlet-name>
        <url-pattern>/AirportUpdateSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>org.example.Home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupOne</servlet-name>
        <servlet-class>org.example.SignupOne</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupOne</servlet-name>
        <url-pattern>/SignupOne</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SignupTwo</servlet-name>
        <servlet-class>org.example.SignupTwo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupTwo</servlet-name>
        <url-pattern>/SignupTwo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>org.example.Welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminPortal</servlet-name>
        <servlet-class>org.example.AdminPortal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPortal</servlet-name>
        <url-pattern>/AdminPortal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMember</servlet-name>
        <servlet-class>org.example.AdminManagementMember</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMember</servlet-name>
        <url-pattern>/AdminManagementMember</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMemberProcess</servlet-name>
        <servlet-class>org.example.AdminManagementMemberProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMemberProcess</servlet-name>
        <url-pattern>/AdminManagementMemberProcess</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementMemberSubmit</servlet-name>
        <servlet-class>org.example.AdminManagementMemberSubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementMemberSubmit</servlet-name>
        <url-pattern>/AdminManagementMemberSubmit</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementReservation</servlet-name>
        <servlet-class>org.example.AdminManagementReservation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementReservation</servlet-name>
        <url-pattern>/AdminManagementReservation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementAircraft</servlet-name>
        <servlet-class>org.example.AdminManagementAircraft</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementAircraft</servlet-name>
        <url-pattern>/AdminManagementAircraft</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminManagementAirport</servlet-name>
        <servlet-class>org.example.AdminManagementAirport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManagementAirport</servlet-name>
        <url-pattern>/AdminManagementAirport</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>org.example.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
</web-app>
